

<div align="center" class="header">
<!--  <h1>Distance Learning Center</h1>-->
  <p> <marquee>Educational Center for Internet Pages Programming</marquee> </p>
</div>

<div class="topnav" >
  <font face="Times" size="5" >
    <a color="#2f4f4f" href="https://www.w3schools.com/cpp/">C++</a>
    <a color="#2f4f4f" href="https://www.w3schools.com/java/">Java</a>
    <a color="#2f4f4f" href="https://www.w3schools.com/html/default.asp">HTML5</a>
  </font>
</div>

<div align="center">
  <iframe src="https://www.gonlinepro.com/" width="1000" height="175"></iframe>
</div>

<div class="topnav" >
  <font face="Times" size="5" >
    <a color="#2f4f4f" href="https://www.gonlinepro.com/">GONLINE Albania</a>
  </font>
</div>

<div align="center">
  <iframe src="https://www.intelycare.com/" width="800" height="175"></iframe>
</div>

<div class="topnav" >
  <font face="Times" size="5" >
    <a color="#2f4f4f" href="https://www.intelycare.com/">Intely Care Albania</a>
  </font>
</div>

