<!doctype html>
<head>
  <title> Travel Agency </title>
</head>


<div class="loginbox">
  <img src="Store-Logo_Aldo.jpg" class="avatar">
  <h1 align="center" class="header" style="font-size: 30px"> Become Client Here </h1>
  <form method="get">
    <p> Real Name: </p>
    <input type="text" name="" placeholder="Real Name" required="required">
    <p> Email: </p>
    <input type="email" name="" placeholder="Email" required="required">
    <p> Password: </p>
    <input type="Password" name="" placeholder="Password" required="required">
    <p> Card: </p>
    <input type="text" name="" placeholder="Credit/Debit/Visa/Gold" required="required">
    <br>
<!--    <input type="submit" value="LogIn">-->

    <div class="centerButton1">
      <button class="nav-item"><input type="submit" class="nav-link1" href="shop" value="Submit"></button>
    </div>

  </form>
<!--  <div class="button"><p align="center"><a href="../shop/Aldo's%20Online%20Shop.html">-->
<!--    Submit</a></p></div>-->





</div>
<div class="footer">
  <font face="Times" size="3">
    <p><marquee> Register as a client here to become a member of Aldo's Shop and have the chance to order everything from everywhere</marquee></p>
  </font></div>
<div class="row">
  <div class="column" >


    <video [width]="320" [height]="240" controls muted style="padding: 60px" align="left">
      <source src="/assets/SearchEngineVideo.mp4">
    </video>


    <video [width]="320" [height]="240" controls muted style="padding: 140px"  align="center">
      <source src="/assets/gonnn.mp4">
    </video>


    <video [width]="320" [height]="240" controls muted style="padding: 60px"  align="right">
      <source src="/assets/Tech-Application.mp4">
    </video>

  </div>
</div>

<div class="centerButton1">

  <button class="nav-item"><a class="nav-link1" routerLink="shop">Submit</a></button>
</div>
