<body>


<div class="loginbox" align="center">

  <img align="center"
       src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-ydwlMFWmI7xyVLyPJp0GLDxpfAHdP3VUWA&usqp=CAU"
       class="avatar" width="180" height="180">

  <br>
  <br>
  <h1 align="center" class="header" style="font-size: 30px"> Become Client Here </h1>
  <form method="get">
    <p> Real Name: </p>
    <input type="text" name="" placeholder="Real Name" required="required">
    <p> Email: </p>
    <input type="email" name="" placeholder="Email" required="required">
    <p> Password: </p>
    <input type="Password" name="" placeholder="Password" required="required">
    <p> Date Of Birth: </p>
    <input type="date" name="" placeholder="Date Of Birth" required="required">
    <p> Card: </p>
    <input type="text" name="" placeholder="Credit/Debit/Visa/Gold" required="required">
    <p> Avatar: </p>
    <input type="file" name="" placeholder="Avatar" required="required">
    <br>
    <!--    <input type="submit" value="LogIn">-->


    <a class="four" href="shop">Submit</a>
  </form>
  <!--  <div class="button"><p align="center"><a href="../shop/Aldo's%20Online%20Shop.html">-->
  <!--    Submit</a></p></div>-->
</div>


<div class="footer">
  <font face="Times" size="3">
    <p>
      <marquee> Register as a client here to become a member of GONLINE and have the chance to order everything from
        everywhere
      </marquee>
    </p>

  </font></div>

