<div>
  <p>
    Welcome To GONLINE
  </p>
</div>

{{ title }}
<br>
{{ myName }}

<!--<app-todo-list>-->

<!--</app-todo-list>-->

<!--<app-user>-->

<!--</app-user>-->

<router-outlet>

</router-outlet>
{{dateObj | date:'medium'}}
<div align="center">
  <form #f="ngForm" (ngSubmit)="onAddForm(f)">
    <input type="text" ngModel name="username" required>
    <input type="password" ngModel name="password" required>
    <button type="submit">Add</button>
  </form>
</div>

<div align="center" *ngIf="user && password">
  <br>
  Hello {{user}}
  <app-todo-list>

  </app-todo-list>
</div>
