<body>
<title>LogIn</title>

<div>

<!--  <p>Resize the browser window to see the responsive effect.</p>-->

  <div class="header">
    <p align="center">
      <font face="courier" size="50" >
        {{ title }} <br> <br> Welcome<br> <a class="logo" href="http://www.gonlinepro.com"> <embed src="/assets/white_logo_transparent_background.png" [width]="150" [height]="170"></a>

        </font>
    </p>
  </div>

  <div style="background: red" ></div>

  <!--<br>-->
  <!--{{ myName }}-->

  <!--<app-todo-list>-->

  <!--</app-todo-list>-->

  <!--<app-user>-->

  <!--</app-user>-->

  <nav *ngIf="backendService.isLoggedIn">
    <div class="container">
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="todo">To Do List</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="user">User Profile</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="listitem">List Item</a></li>
        <li class="nav-item" (click)=logOut()>Log Out</li>
      </ul>
    </div>
  </nav>

  <router-outlet>

  </router-outlet>

  <div class="center">{{dateObj | date:'medium'}}</div>

  <br>

  <app-login *ngIf="!backendService.isLoggedIn"></app-login>

  <div class="centerButton">
    <button mat-button (click)="openDialog()">Open dialog</button>
  </div>



  <div class="card">
    <audio controls="">
      <source src="/assets/anotherlove.mp3" type="audio/mp3">
    </audio>

    <audio controls="">
      <source src="/assets/anotherlove.mp3" type="audio/mp3">
    </audio>
  </div>


  <marquee>

    <img src="/assets/kkk.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/super.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/letssee.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/okay.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/male.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo12.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/haha.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo1.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo3.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo4.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo6.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo7.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo8.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo9.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo14.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo17.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">
    <img src="/assets/photo19.jpeg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">

  </marquee>
</div>





  <style>
    body {
      background-image: url('https://i.pinimg.com/564x/d7/5b/01/d75b01654f77dfb1087ab506a241db6f.jpg');
    }
  </style>



<!--<div align="center">-->
<!--  <a routerLink="todo">To Do</a>-->
<!--</div>-->


<!--<div align="center" *ngIf="user && password">-->
<!--  <br>-->
<!--  Hello {{user}}-->
<!--&lt;!&ndash;  <app-todo-list>&ndash;&gt;-->

<!--&lt;!&ndash;  </app-todo-list>&ndash;&gt;-->
<!--</div>-->



<p>
  <font face="courier" size="30" >
    Happy Easter!</font></p>

<div align="center">


  <img [border]="5" alt="Picture1" src="assets/easter_0.png" [hspace]="70" [vspace]="70" [width]="108" [height]="105">
  <img [border]="5" alt="Picture2" src="assets/easter_1.png" [hspace]="70" [vspace]="70" [width]="108" [height]="105">


</div>

<!--<br>-->


<!--<marquee class="good">-->
<!--  <font face="courier" size="10" >Happy Easter-->
<!--  </font></marquee>-->

<div class="row">
  <div class="column" >


  <video [width]="320" [height]="240" controls muted style="padding: 60px" align="left">
    <source src="/assets/SearchEngineVideo.mp4">
  </video>


  <video [width]="320" [height]="240" controls muted style="padding: 140px"  align="center">
    <source src="/assets/gonnn.mp4">
  </video>


  <video [width]="320" [height]="240" controls muted style="padding: 60px"  align="right">
    <source src="/assets/Tech-Application.mp4">
  </video>

</div>
</div>
<!--<font face="Verdana" [size]="2">-->
<!--  <div align="center">-->
<!--    <h2 style="color:rebeccapurple" align="center"> <a href="http://www.gonlinepro.com">GONLINE</a></h2>-->
<!--&lt;!&ndash;    <embed src="/assets/darkLogo.png" [width]="450" [height]="300">&ndash;&gt;-->
<!--  </div>-->
<!--</font>-->




<div class="footer">

  <p  align="center">
    <font face="courier" size="50" >

      This Is It
    </font>
  </p>
</div>
</body>
