p,.center{
  text-align: center;
}


button {
  padding: 7px;
  background-color: #2020b9;
  color: white;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  display: flex;
  color: black;
  justify-content: center;
}

li.nav-item {
  margin-right: 10px;
  cursor: pointer;
}

li.nav-item a{
  text-decoration: none;
  color: black;
}
