<!DOCTYPE html>
<html lang="sq">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="zara;shop;university">
  <title>Midterm Review</title>

  <!--  <link rel="icon" href="./assets/">-->
</head>
<body>
<h1> Title 1 </h1>
<h2> Title 2 </h2>
<h3> Title 3 </h3>
<h6> Title 4 </h6>

<marquee>
  <p>y=x<sup>2</sup>+4</p>
</marquee>

<img src="/assets/fehahi.jpg" alt="HTML5 Icon" [hspace]="50" [vspace]="50" [width]="268" [height]="400" [border]="5">

<div>
  <video [width]="320" [height]="240" controls muted style="padding: 60px" align="left">
    <source src="/assets/SearchEngineVideo.mp4">
  </video>
</div>


<iframe src="https://gonlinepro.com/" width="40%" height="200px"></iframe>
<form method="get">
  <label for="go">UserName</label>
  <input id="go" type="email" name="username" placeholder="test@example.com" required="required"
         pattern="[a-z0-9]+@epoka.edu.al">

  <label for="pass">Password</label>
  <input id="pass"
         type="password"
         name="password"
         placeholder="One UpperCase letter, one special char" required pattern="[a-zA-Z0-9!?-_]+">

  <input type="submit" value="LogIn">

  <button
    type="reset">Reset
  </button>
</form>
</body>

</html>
